<div class="row">
<div class="col-md-8">
<% if @entries.any? %>
<h4 style="margin-left:60px"><%= "New Feed" %></h4>
<ol class="entries">
<%= render @entries %>
</ol>
<%= will_paginate @entries %>
<% end %>
</div>
</div>